@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: "Inter", sans-serif;
}

.bg-gradent{
  background: var(--Linear, linear-gradient(125deg, #632EE3 5.68%, #9F62F2 88.38%));
}

.text-gradiendt{
  opacity: 0.9;
background: var(--Linear, linear-gradient(125deg, #632EE3 5.68%, #9F62F2 88.38%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-transform: capitalize;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shine {
  animation: shine 1s linear infinite;
}

.shine-btn {
  position: relative;
  overflow: hidden;
}

@keyframes pulseText {
  0%, 100% {
    font-size: 3rem;
  }
  50% {
    font-size: 6rem; 
  }
}

.animate-pulseText {
  animation: pulseText 5s infinite;
}